# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

# Local Netlify folder
.netlify

# dependencies
node_modules
.yarn

# misc
.DS_Store

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# storybook
storybook-static

# vscode
.vscode

# husky
.config

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
