<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_PATH" value="logs"/>
  <property name="BACKUP_PATH" value="backup"/>
  <property name="ACCESS_LOG_FILE_NAME" value="access"/>
  <property name="LOG_PATTERN"
    value="%n###### HTTP Request ######%n%fullRequest%n%n###### HTTP Response ######%n%fullResponse%n%n"/>

  <springProfile name="local,test">
    <include resource="appender/console-appender.xml"/>
    <appender-ref ref="CONSOLE"/>
  </springProfile>

  <springProfile name="dev,prod,was1,was2">
    <include resource="appender/file-access-appender.xml"/>
    <appender-ref ref="FILE-ACCESS"/>
  </springProfile>

</configuration>
