<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <appender-ref ref="CONSOLE"/>
  <configuration>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
      <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
      <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
        <maxHistory>30</maxHistory>
        <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          <maxFileSize>10MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
      </rollingPolicy>
    </appender>
    <appender-ref ref="FILE"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
  </configuration>

  <property name="LOG_PATH" value="logs"/>

  <property name="LOG_FILE_NAME" value="log"/>
  <property name="LOG_PATTERN"
    value="%n###### HTTP Request ######%n%fullRequest%n%n###### HTTP Response ######%n%fullResponse%n%n"/>

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
</configuration>
